@model DIVULGA_SERVICOS.Models.CAD_CATEGORIA

@{
    ViewBag.Title = "Deletar Serviço";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deletar Serviço</h2>

<h3>Tem certeza de que quer deletar isto?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CAD_PES_JURIDICA.CD_CNPJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAD_PES_JURIDICA.CD_CNPJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NM_NOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NM_NOME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DS_DESCRICAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DS_DESCRICAO)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="DeletarServicoOk" class="btn btn-default" /> |
            @Html.ActionLink("Servicos", "Servicos", new { id = @Html.DisplayFor(model => model.CAD_PES_JURIDICA.CD_PESSOA) }) |
            @Html.ActionLink("Cadastrados", "Index")
        </div>
    }
</div>
