@model IEnumerable<DIVULGA_SERVICOS.Models.CAD_PES_ENDERECO>
@using System.Data.Entity.Spatial
@using Microsoft.AspNet.Identity
@using Microsoft.Owin.Security

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca Serviços</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Mybootstrap.css" rel="stylesheet" />

</head>

<body>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a><br />
        @if (Request.IsAuthenticated)
        {

            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
                @Html.ActionLink("Olá " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })<br /><br />
                @Html.ActionLink("Mercado de Serviços", "Index", "Home")<br />
                @Html.ActionLink("Pesquisar Serviços", "Index", "Busca")<br />
                @Html.ActionLink("Sobre", "About", "Home")<br />
                @Html.ActionLink("Contatos", "Contact", "Home")<br />
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a><br />
            }
        }
        else
        {
            @Html.ActionLink("Mercado de Serviços", "Index", "Home")<br />
            @Html.ActionLink("Pesquisar Serviços", "Index", "Busca")<br />
            @Html.ActionLink("Sobre", "About", "Home")<br />
            @Html.ActionLink("Contatos", "Contact", "Home")<br />
            @Html.ActionLink("Criar Conta", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })<br />
            @Html.ActionLink("Entrar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })<br />
        }
    </div>


    <div class="input-group" id="adv-search">
        
            @if (ViewBag.erro != null || ViewBag.erro != "" && ViewBag.Status == 1)
            {
                <script>
                    alert('@ViewBag.erro');
                </script>
            }
                
        <form class="form-horizontal" id="searchgroup" action="~/Busca/Pesquisa" method="get" role="form">
            @*<div class="input-group-addon" id="boxhamburguermap"><span class="opennav" id="hamburguermap" onclick="openNav()">&#9776;</span></div>*@
            <span class="glyphicon glyphicon-menu-hamburger" id="boxhamburguermap" onclick="openNav()"></span>
            <input type="text" class="form-control" name="pesquisa" id="pesquisaM" placeholder="Costureira, Chaveiro, Eletricista">
            <input type="text" id="lat" class="hidden" name="lat">
            <input type="text" id="lng" class="hidden" name="lng">
            <div class="input-group-btn">
                <div class="btn-group" role="group">
                    <div class="dropdown dropdown-lg">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                        <div class="dropdown-menu dropdown-menu-right" id="menudropdown" role="menu">
                            <div class="form-group">
                                <input class="form-control" id="autocomplete" placeholder="Digite um outro endereço"
                                       onFocus="geolocates()" type="text">
                            </div>
                            <div class="form-group">
                                <label for="distancia">
                                    Distante até  
                                </label>
                                <input class="form-control" id="distancia" name="distancia" placeholder="Valor em Km"
                                      type="number">
                            </div>
                            <div class="form-group">
                                <div class="checkbox segunda_check">
                                    <label for="cartão">
                                        Aceita cartão
                                        <input id="aceitacartao" type="checkbox" value="true" name="aceitacartao" />
                                        <input type="hidden" value="false" name="aceitacartao" />
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox segunda_check">
                                    <label for="cartão">
                                        Aberto Agora
                                        <input id="aberto" type="checkbox" value="true" name="aberto" />
                                        <input type="hidden" value="false" name="aberto" />
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox segunda_check">
                                    <label for="cartão">
                                        Trabalha 24/7 <input name="vintequatro" id="vintequatro" type="checkbox">
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary" id="lupaAvancada"><span class="glyphicon glyphicon-search" aria-hidden="true" id="lupa"></span></button>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true" id="lupa"></span></button>
                </div>
            </div>
        </form>
    </div>

    @*<form class="form-inline" id="searchgroup" action="~/CAD_PES_JURIDICA/Pesquisa" method="get">
            <div class="form-group" id="form-group">
                <div class="input-group" id="container-search2">
                    <div class="input-group-addon" id="boxhamburguermap"><span class="opennav" id="hamburguermap" onclick="openNav()">&#9776;</span></div>
                    <input type="text" class="form-control" id="barrapesquisa" name="pesquisa" placeholder="Costureira, Chaveiro, Eletricista">

                    <input type="text" id="lat" class="hidden" name="lat">
                    <input type="text" id="lng" class="hidden" name="lng">

                    <input type="submit" class="pesquisa-avancada-button" value="A">
                    <input type="submit" class="btn btn-default" id="buttonsearch" value="Buscar">


                </div>

                <div id="busca-avancada">
                    <div id="locationField">
                        <input id="autocomplete" placeholder="Digite um outro endereço"
                               onFocus="geolocates()" type="text"></input>
                    </div>
                </div>
            </div>

        </form>*@

    <div id="map">
    </div>
    <script>

        /*Início do JS do Sidenav Bar*/
        function openNav() {
            document.getElementById("mySidenav").style.width = "auto";
            document.getElementById("mySidenav").style.padding = "30px 30px 30px 0px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("mySidenav").style.padding = "0px 0px 0px 0px";
        }
        /*Fim do JS do Sidenav Bar*/

        var placeSearch, autocomplete;
        var componentForm = {
            lat: 'lat',
            lng: 'lng'
        };

        // [START region_fillform]
        function fillInAddress() {
            // Get the place details from the autocomplete object.
            var place = autocomplete.getPlace();

            for (var component in componentForm) {
                document.getElementById(component).value = '';
                document.getElementById(component).disabled = false;
            }

            // Get each component of the address from the place details
            // and fill the corresponding field on the form.
            for (var i = 0; i < place.address_components.length; i++) {
                var addressType = place.address_components[i].types[0];
                if (componentForm[addressType]) {
                    var val = place.address_components[i][componentForm[addressType]];
                    document.getElementById(addressType).value = val;
                }
            }
            var lat = place.geometry.location.lat();
            var lng = place.geometry.location.lng();
            document.getElementById("lat").value = lat;
            document.getElementById("lng").value = lng;
        }
        // [END region_fillform]

        // [START region_geolocation]
        // Bias the autocomplete object to the user's geographical location,
        // as supplied by the browser's 'navigator.geolocation' object.
        function geolocates() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var geolocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    var circle = new google.maps.Circle({
                        center: geolocation,
                        radius: position.coords.accuracy
                    });
                    autocomplete.setBounds(circle.getBounds());
                });
            }
        }

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: { lat: -15.7217174, lng: -48.0783226 },
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            setMarkers(map);

            autocomplete = new google.maps.places.Autocomplete(
            (document.getElementById('autocomplete')),
            { types: ['geocode'] });

            // When the user selects an address from the dropdown, populate the address
            // fields in the form.
            autocomplete.addListener('place_changed', fillInAddress);
        }

        function setMarkers(map) {
            var image2 = {
                url: '/Imagens/Pointer-You.png',
                // This marker is 20 pixels wide by 32 pixels high.
                scaledSize: new google.maps.Size(45, 45),
                // The origin for this image is (0, 0).
                origin: new google.maps.Point(0, 0),
                // The anchor for this image is the base of the flagpole at (0, 32).
                anchor: new google.maps.Point(0, 32)
            };

            var image1 = {
                url: '/Imagens/place-128.png',
                // This marker is 20 pixels wide by 32 pixels high.
                scaledSize: new google.maps.Size(32, 32),
                // The origin for this image is (0, 0).
                origin: new google.maps.Point(0, 0),
                // The anchor for this image is the base of the flagpole at (0, 32).
                anchor: new google.maps.Point(0, 32)
            };

            var infowindow = new google.maps.InfoWindow(), marker;
            @if(ViewBag.latitude == null)
            {
                <text>
            if (navigator.geolocation)
            {

                navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    document.getElementById("lat").value = position.coords.latitude;
                    document.getElementById("lng").value = position.coords.longitude;

                    var posicaoatual = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    map.setCenter(pos);
                    var marker = new google.maps.Marker({
                        map: map,
                        icon: image2,
                        draggable: true,
                    });
                    marker.setPosition(posicaoatual);
                    var infowindow = new google.maps.InfoWindow(), marker;
                    google.maps.event.addListener(marker, 'click', (function(marker, i) {
                        return function() {
                            infowindow.setContent("Você está aqui!");
                            infowindow.open(map, marker);
                        }
                    })(marker))
                }, function() {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                handleLocationError(false, infoWindow, map.getCenter());
            }
            </text>
            }
            else
            {
                 <text>
            @*var pos = {
                lat: @ViewBag.latitude.ToString().Replace(",", "."),
                lng: @ViewBag.longitude.ToString().Replace(",", "."),
            };
            map.setCenter(pos);*@

            document.getElementById("lat").value = @ViewBag.latitude.ToString().Replace(",", ".");
            document.getElementById("lng").value = @ViewBag.longitude.ToString().Replace(",", ".");

            var posicaoatual = new google.maps.LatLng(@ViewBag.latitude.ToString().Replace(",", "."), @ViewBag.longitude.ToString().Replace(",", "."));
            var marker = new google.maps.Marker({
                map: map,
                icon: image2,
                draggable: true,
            });
            marker.setPosition(posicaoatual);
            var infowindow = new google.maps.InfoWindow(), marker;
            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                    infowindow.setContent("Este é seu ponto de referência!");
                    infowindow.open(map, marker);
                }
            })(marker))

            var markers=[];
            </text>
                var i = 0;
            foreach (var item in Model.OrderBy(x => x.localizacao.Distance((DbGeography.FromText("POINT(" + ViewBag.latitude + " " + ViewBag.longitude + ")")))))
            {
                i++;
                    var dinheiro = "";
                    var cheque = "";
                    var debito = "";
                    var credito = "";
                    var outros = "";

                            <text>
            if(@i == 1)
            {
                var pos = {
                    lat: @item.localizacao.Longitude.ToString().Replace(",", "."),
                    lng: @item.localizacao.Latitude.ToString().Replace(",", "."),
                };
                map.setCenter(pos);

            }
            var marker1 = new google.maps.Marker({
                position: new google.maps.LatLng(@item.localizacao.Longitude.ToString().Replace(",", "."), @item.localizacao.Latitude.ToString().Replace(",", ".")),
                map: map,
                icon: image1,
            });
            google.maps.event.addListener(marker1, 'click', (function(marker1, i) {
                return function() {
                    var distancia = parseInt((@item.localizacao.Distance(DbGeography.FromText("POINT(" + ViewBag.latitude.ToString().Replace(",", ".") + " " + ViewBag.longitude.ToString().Replace(",", ".") + ")")).ToString().Replace(",", ".") / 0.62137) / 1000, 10);
                    infowindow.setContent(
                        "<h4 style='color: rgb(51, 122, 183); border-bottom: 1px solid rgb(229, 229, 229);'><strong>@item.CAD_PESSOA.NM_NOME_PESSOA</strong></h4>" +
                        "<strong>Este é o "+@i+"º mais próximo e está a </strong>" + distancia + " Km" +
                        "<br><br>" +
                        "<strong>Aceita:</strong>" +
                        "<br>" +
                            @if(item.CAD_PESSOA.CAD_PES_JURIDICA.CAD_FORMA_PAGAMENTO.DINHEIRO == true)
                                        {
                        dinheiro = "Dinheiro | ";
                    }
                    @if(item.CAD_PESSOA.CAD_PES_JURIDICA.CAD_FORMA_PAGAMENTO.CHEQUE == true)
                                        {
                        cheque = "Cheque | ";
                    }
                    @if(item.CAD_PESSOA.CAD_PES_JURIDICA.CAD_FORMA_PAGAMENTO.DEBITO == true)
                                        {
                        debito = "Débito | ";
                    }
                    @if(item.CAD_PESSOA.CAD_PES_JURIDICA.CAD_FORMA_PAGAMENTO.CREDITO == true)
                                        {
                        credito = "Crédito | ";
                    }
                    @if(item.CAD_PESSOA.CAD_PES_JURIDICA.CAD_FORMA_PAGAMENTO.OUTROS == true)
                                        {
                        outros = "Entre outras formas a conversar...";
                    }
                    "@dinheiro.ToString()" +
                    "@cheque.ToString()" +
                    "@debito.ToString()" +
                    "@credito.ToString()" +
                    "<br>" +
                    "@outros.ToString()" +
                    "<br><br>" +
                    "<strong>Telefones para contato:</strong>" +
                    "<br>" +
                    @foreach(var telefone in item.CAD_PESSOA.CAD_PES_FONE)
                    {
                                <text>
                                "@telefone.CD_FIXO" + "  |  " +
                                "@telefone.CD_CELULAR" +
                                "<br>" +
                                </text>
                    }
                    "<br>" +

                    @if(item.CAD_PESSOA.CAD_PES_JURIDICA.TODO_DIA == true)
                                {
                        <text>
                            "<div class='alert alert-success' role='alert'>" +
                            "<strong>Está aberto agora :)</strong>" +
                            "</div>" +
                        </text>
                    }
                    else
                    {
                        DateTime agora = DateTime.Now;
                        foreach (var hora in item.CAD_PESSOA.CAD_PES_JURIDICA.CAD_HORA_ATENDIMENTO)
                        {

                            if (hora.DIA_SEMANA == (int)agora.DayOfWeek)
                            {
                                if (hora.HORA_INICIO <= agora.Hour && hora.HORA_FIM > agora.Hour)
                                {
                                    <text>
                                    "<div class='alert alert-success' role='alert'>" +
                                    "<strong>Está aberto agora :)</strong>" +
                                    "</div>" +
                                </text>
                                                break;
                                }
                                else
                                {
                                    <text>
                                    "<div class='alert alert-danger' role='alert'>" +
                                    "<strong>Está fechado agora :(</strong>" +
                                    "</div>" +
                                </text>
                                                break;
                                }
                            }
                        }
                    }


                    "<br>" +
                   "<button type='button' class='btn btn-primary btn-xs' data-toggle='modal' data-target='#myModal" + '@item.CAD_PESSOA.Id' + "'>Acessar mais informações!</button>" +
                   "  |  " +

                   @if(Request.IsAuthenticated)
                                {
                        <text>
                        "<button type='button' class='btn btn-primary btn-xs' data-toggle='modal' data-target='#myModalAvaliacao" + '@item.CAD_PESSOA.Id' + "'>Avaliar o Prestador!</button>" +
                        </text>
                    }
                    else
                    {
                        <text>
                        "<button type='button' class='btn btn-primary btn-xs' data-toggle='modal' data-target='#myModalLogin'>Login para Avaliar</button>" +
                    </text>
                    }
                    "");
                    infowindow.open(map, marker1);
                }
            })(marker1))
            markers.push(marker1);
            </text>
    }

                if(i == 0)
                {
                    <text>
            var pos = {
                lat: @ViewBag.latitude.ToString().Replace(",", "."),
                lng: @ViewBag.longitude.ToString().Replace(",", "."),
            };
            map.setCenter(pos);
            </text>
                }
                    <text>
            var markerCluster = new MarkerClusterer(map, markers, {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
            </text>
            }
        }
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAj3JcRIELfHhMvmfLqmSdezusDvIA9Sao&signed_in=true&libraries=places&callback=initMap" async defer></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @if (Model == null)
    {

    }
    else
    {
        foreach (var item in Model)
        {
                float mediaQualidade = 0;
                float mediaPontualidade = 0;
                float mediaOrganizacao = 0;
                float mediaIndicacao = 0;
                float mediaSatisfacao = 0;
                foreach (var avaliacao in item.CAD_PESSOA.CAD_PES_JURIDICA.CAD_AVALIACAO)
                {
                    mediaQualidade = mediaQualidade + avaliacao.PRECO_QUALIDADE;
                    mediaPontualidade = mediaPontualidade + avaliacao.PONTUALIDADE;
                    mediaOrganizacao = mediaOrganizacao + avaliacao.ORGANIZACAO;
                    mediaIndicacao = mediaIndicacao + avaliacao.INDICACAO;
                    mediaSatisfacao = mediaSatisfacao + avaliacao.SATISFACAO_SERVICO;
                }
                mediaQualidade = (((mediaQualidade) * 100) / item.CAD_PESSOA.CAD_PES_JURIDICA.CAD_AVALIACAO.Count) / 5;
                mediaPontualidade = (((mediaPontualidade) * 100) / item.CAD_PESSOA.CAD_PES_JURIDICA.CAD_AVALIACAO.Count) / 5;
                mediaOrganizacao = (((mediaOrganizacao) * 100) / item.CAD_PESSOA.CAD_PES_JURIDICA.CAD_AVALIACAO.Count) / 5;
                mediaIndicacao = (((mediaIndicacao) * 100) / item.CAD_PESSOA.CAD_PES_JURIDICA.CAD_AVALIACAO.Count) / 5;
                mediaSatisfacao = (((mediaSatisfacao) * 100) / item.CAD_PESSOA.CAD_PES_JURIDICA.CAD_AVALIACAO.Count) / 5;

                var idmodal = "myModal" + @item.CAD_PESSOA.Id;
            <div class="modal fade" id='@idmodal' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">@item.CAD_PESSOA.NM_NOME_PESSOA</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-3" style="width:100%">
                                    <h4>Endereço:</h4>
                                    <div class="well">
                                        <p><b>Estado:</b> @item.NM_ESTADO</p>
                                        <p><b>Cidade:</b> @item.NM_CIDADE</p>
                                        <p><b>Rua:</b> @item.NM_LOGRADOURO</p>
                                        <p><b>Número:</b> @item.NUMERO</p>
                                    </div>
                                </div>
                            </div>
                            <h4>Média da Avaliação:</h4>
                            <div class="well">
                                <div class="row">
                                    <div class="col-sm-3" id="myrating">
                                        @if (item.CAD_PESSOA.CAD_PES_JURIDICA.CAD_AVALIACAO.Count == 1)
                                        {
                                            <h5>
                                                @item.CAD_PESSOA.CAD_PES_JURIDICA.CAD_AVALIACAO.Count avaliação!
                                            </h5>
                                        }
                                        else
                                        {
                                            <h5>
                                                @item.CAD_PESSOA.CAD_PES_JURIDICA.CAD_AVALIACAO.Count avaliações!
                                            </h5>
                                        }
                                        <div class="pull-left">
                                            <div class="pull-left" style="line-height:1;">
                                                <div style="height:9px; margin:5px 0;">Qualidade do Serviço: <span class="glyphicon glyphicon-star"></span></div>
                                            </div>
                                            <div class="pull-left" style="width:180px;">
                                                <div class="progress" style="height:9px; margin:8px 0;">

                                                    @if (mediaQualidade > 50)
                                                    {
                                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: @mediaQualidade%">
                                                            @*<span class="sr-only">80% Complete (danger)</span>*@
                                                        </div>
                                                    }
                                                    else if (mediaQualidade > 60)
                                                    {
                                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: @mediaQualidade%">
                                                            @*<span class="sr-only">80% Complete (danger)</span>*@
                                                        </div>
                                                    }
                                                    else if (mediaQualidade > 40)
                                                    {
                                                        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: @mediaQualidade%">
                                                            @*<span class="sr-only">80% Complete (danger)</span>*@
                                                        </div>
                                                    }
                                                    else if (mediaQualidade > 20)
                                                    {
                                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: @mediaQualidade%">
                                                            @*<span class="sr-only">80% Complete (danger)</span>*@
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: @mediaQualidade%">
                                                            @*<span class="sr-only">80% Complete (danger)</span>*@
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                            @*<div class="pull-right" style="margin-left:10px;">1</div>*@
                                        </div>
                                        <div class="pull-left">
                                            <div class="pull-left" style="line-height:1;">
                                                <div style="height:9px; margin:5px 0;">Pontualidade: <span class="glyphicon glyphicon-star"></span></div>
                                            </div>
                                            <div class="pull-left" style="width:180px;">
                                                <div class="progress" style="height:9px; margin:8px 0;">
                                                    @if (mediaPontualidade > 50)
                                                    {
                                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: @mediaPontualidade%">
                                                            @*<span class="sr-only">80% Complete (danger)</span>*@
                                                        </div>
                                                    }
                                                    else if (mediaPontualidade > 60)
                                                    {
                                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: @mediaPontualidade%">
                                                            @*<span class="sr-only">80% Complete (danger)</span>*@
                                                        </div>
                                                    }
                                                    else if (mediaPontualidade > 40)
                                                    {
                                                        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: @mediaPontualidade%">
                                                            @*<span class="sr-only">80% Complete (danger)</span>*@
                                                        </div>
                                                    }
                                                    else if (mediaPontualidade > 20)
                                                    {
                                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: @mediaPontualidade%">
                                                            @*<span class="sr-only">80% Complete (danger)</span>*@
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: @mediaPontualidade%">
                                                            @*<span class="sr-only">80% Complete (danger)</span>*@
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                            @*<div class="pull-right" style="margin-left:10px;">1</div>*@
                                        </div>
                                        <div class="pull-left">
                                            <div class="pull-left" style="line-height:1;">
                                                <div style="height:9px; margin:5px 0;">Organização: <span class="glyphicon glyphicon-star"></span></div>
                                            </div>
                                            <div class="pull-left" style="width:180px;">
                                                <div class="progress" style="height:9px; margin:8px 0;">
                                                    @if (mediaOrganizacao > 50)
                                                    {
                                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width: @mediaOrganizacao%">
                                                            @*<span class="sr-only">80% Complete (danger)</span>*@
                                                        </div>
                                                    }
                                                    else if (mediaOrganizacao > 60)
                                                    {
                                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: @mediaOrganizacao%">
                                                            @*<span class="sr-only">80% Complete (danger)</span>*@
                                                        </div>
                                                    }
                                                    else if (mediaOrganizacao > 40)
                                                    {
                                                        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: @mediaOrganizacao%">
                                                            @*<span class="sr-only">80% Complete (danger)</span>*@
                                                        </div>
                                                    }
                                                    else if (mediaOrganizacao > 20)
                                                    {
                                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: @mediaOrganizacao%">
                                                            @*<span class="sr-only">80% Complete (danger)</span>*@
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: @mediaOrganizacao%">
                                                            @*<span class="sr-only">80% Complete (danger)</span>*@
                                                        </div>
                                                    }


                                                </div>
                                            </div>
                                            @*<div class="pull-right" style="margin-left:10px;">0</div>*@
                                        </div>
                                        <div class="pull-left">
                                            <div class="pull-left" style="line-height:1;">
                                                <div style="height:9px; margin:5px 0;">Quem o Indicaria: <span class="glyphicon glyphicon-star"></span></div>
                                            </div>
                                            <div class="pull-left" style="width:180px;">
                                                <div class="progress" style="height:9px; margin:8px 0;">
                                                    @if (mediaIndicacao > 50)
                                                    {
                                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: @mediaIndicacao%">
                                                            @*<span class="sr-only">80% Complete (danger)</span>*@
                                                        </div>
                                                    }
                                                    else if (mediaIndicacao > 60)
                                                    {
                                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: @mediaIndicacao%">
                                                            @*<span class="sr-only">80% Complete (danger)</span>*@
                                                        </div>
                                                    }
                                                    else if (mediaIndicacao > 40)
                                                    {
                                                        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: @mediaIndicacao%">
                                                            @*<span class="sr-only">80% Complete (danger)</span>*@
                                                        </div>
                                                    }
                                                    else if (mediaIndicacao > 20)
                                                    {
                                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: @mediaIndicacao%">
                                                            @*<span class="sr-only">80% Complete (danger)</span>*@
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: @mediaIndicacao%">
                                                            @*<span class="sr-only">80% Complete (danger)</span>*@
                                                        </div>
                                                    }

                                                </div>
                                            </div>
                                            @*<div class="pull-right" style="margin-left:10px;">0</div>*@
                                        </div>
                                        <div class="pull-left">
                                            <div class="pull-left" style="line-height:1;">
                                                <div style="height:9px; margin:5px 0;">Satisfação pelo Serviço <span class="glyphicon glyphicon-star"></span></div>
                                            </div>
                                            <div class="pull-left" style="width:180px;">
                                                <div class="progress" style="height:9px; margin:8px 0;">
                                                    @if (mediaSatisfacao > 50)
                                                    {
                                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: @mediaSatisfacao%">
                                                            @*<span class="sr-only">80% Complete (danger)</span>*@
                                                        </div>
                                                    }
                                                    else if (mediaSatisfacao > 60)
                                                    {
                                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: @mediaSatisfacao%">
                                                            @*<span class="sr-only">80% Complete (danger)</span>*@
                                                        </div>
                                                    }
                                                    else if (mediaSatisfacao > 40)
                                                    {
                                                        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: @mediaSatisfacao%">
                                                            @*<span class="sr-only">80% Complete (danger)</span>*@
                                                        </div>
                                                    }
                                                    else if (mediaSatisfacao > 20)
                                                    {
                                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: @mediaSatisfacao%">
                                                            @*<span class="sr-only">80% Complete (danger)</span>*@
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: @mediaSatisfacao%">
                                                            @*<span class="sr-only">80% Complete (danger)</span>*@
                                                        </div>
                                                    }

                                                </div>
                                            </div>
                                            @*<div class="pull-right" style="margin-left:10px;">0</div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="well">
                                        @foreach (var avaliacao in item.CAD_PESSOA.CAD_PES_JURIDICA.CAD_AVALIACAO.OrderBy(x => x.DIA_AVALIACAO))
                                        {
                                            int media = 0;
                                            int count = 0;
                                            media = ((avaliacao.INDICACAO + avaliacao.ORGANIZACAO + avaliacao.PONTUALIDADE + avaliacao.PRECO_QUALIDADE + avaliacao.SATISFACAO_SERVICO) / 5);
                                            count = 5 - media;
                                            <div class="row" style="border-bottom: 1px solid rgb(229, 229, 229);">
                                                <div class="comentarioAvaliacao">
                                                    <div class="review-block-name"><a href="#">@avaliacao.CAD_PES_USUARIO.CAD_PESSOA.NM_NOME_PESSOA</a></div>
                                                    <div class="review-block-date">@avaliacao.DIA_AVALIACAO.ToString("dd'/'MM'/'yyyy")</div>
                                                </div>
                                                <div class="col-sm-9">
                                                    <div class="review-block-rate">
                                                        @while (media > 0)
                                                        {
                                                            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                                <span class="glyphicon glyphicon-star" id="avaliacaoStar" aria-hidden="true"></span>
                                                            </button>
                                                            media = media - 1;
                                                        }
                                                        @while (count > 0)
                                                        {
                                                            <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                                <span class="glyphicon glyphicon-star" id="avaliacaoStar" aria-hidden="true"></span>
                                                            </button>
                                                            count = count - 1;
                                                        }
                                                    </div>
                                                    <div class="review-block-title">@avaliacao.NM_ASSUNTO</div>
                                                    <div class="review-block-description">@avaliacao.DS_DESCRICAO</div>
                                                </div>
                                            </div>
                                            <br />
                                        }
                                    </div>
                                </div>
                            </div>
                            @*<div style="border-bottom: 1px solid rgb(229, 229, 229);">
                                    <div style="border-bottom: 1px solid rgb(229, 229, 229);">
                                        <h3>Avaliação:</h3>
                                    </div>




                                </div>*@

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            var idavaliacao = "myModalAvaliacao" + @item.CAD_PESSOA.Id;
            <div class="modal fade" id='@idavaliacao' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">@item.CAD_PESSOA.NM_NOME_PESSOA</h4>
                        </div>
                        <div class="modal-body">
                            <div class='alert alert-info' role='alert'>
                                <strong>Verde para bom e vermelho para ruim!</strong>
                            </div>
                            <form class="formAvaliacao" action="~/Avaliacao/Create" method="post">
                                <div class="input-group">
                                    <div class="form-group">
                                        <label class="control-label" for="ORGANIZACAO">Organização:</label>
                                        <div class="col-md-10">
                                            <div class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-xs btn-success">
                                                    <input type="radio" name="ORGANIZACAO" id="ORGANIZACAO" value="5" autocomplete="off">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </label>
                                                <label class="btn btn-xs btn-primary">
                                                    <input type="radio" name="ORGANIZACAO" id="ORGANIZACAO" value="4" autocomplete="off">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </label>
                                                <label class="btn btn-xs btn-default">
                                                    <input type="radio" name="ORGANIZACAO" id="ORGANIZACAO" value="3" autocomplete="off">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </label>
                                                <label class="btn btn-xs btn-warning">
                                                    <input type="radio" name="ORGANIZACAO" id="ORGANIZACAO" value="2" autocomplete="off">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </label>
                                                <label class="btn btn-xs btn-danger">
                                                    <input type="radio" name="ORGANIZACAO" id="ORGANIZACAO" value="1" autocomplete="off">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="PRECO_QUALIDADE">Qualidade do Serviço:</label>
                                        <div class="col-md-10">
                                            <div class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-xs btn-success btn-gradient">
                                                    <input type="radio" name="PRECO_QUALIDADE" id="PRECO_QUALIDADE" value="5" autocomplete="off">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </label>
                                                <label class="btn btn-xs btn-primary">
                                                    <input type="radio" name="PRECO_QUALIDADE" id="PRECO_QUALIDADE" value="4" autocomplete="off">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </label>
                                                <label class="btn btn-xs btn-default">
                                                    <input type="radio" name="PRECO_QUALIDADE" id="PRECO_QUALIDADE" value="3" autocomplete="off">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </label>
                                                <label class="btn btn-xs btn-warning">
                                                    <input type="radio" name="PRECO_QUALIDADE" id="PRECO_QUALIDADE" value="2" autocomplete="off">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </label>
                                                <label class="btn btn-xs btn-danger">
                                                    <input type="radio" name="PRECO_QUALIDADE" id="PRECO_QUALIDADE" value="1" autocomplete="off">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="PONTUALIDADE">Pontualidade:</label>
                                        <div class="col-md-10">
                                            <div class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-xs btn-success btn-gradient">
                                                    <input type="radio" name="PONTUALIDADE" id="PONTUALIDADE" value="5" autocomplete="off">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </label>
                                                <label class="btn btn-xs btn-primary">
                                                    <input type="radio" name="PONTUALIDADE" id="PONTUALIDADE" value="4" autocomplete="off">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </label>
                                                <label class="btn btn-xs btn-default">
                                                    <input type="radio" name="PONTUALIDADE" id="PONTUALIDADE" value="3" autocomplete="off">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </label>
                                                <label class="btn btn-xs btn-warning">
                                                    <input type="radio" name="PONTUALIDADE" id="PONTUALIDADE" value="2" autocomplete="off">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </label>
                                                <label class="btn btn-xs btn-danger">
                                                    <input type="radio" name="PONTUALIDADE" id="PONTUALIDADE" value="1" autocomplete="off">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="INDICACAO">Você o Indicaria?</label>
                                        <div class="col-md-10">
                                            <div class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-xs btn-success btn-gradient">
                                                    <input type="radio" name="INDICACAO" id="INDICACAO" value="5" autocomplete="off">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </label>
                                                <label class="btn btn-xs btn-primary">
                                                    <input type="radio" name="INDICACAO" id="INDICACAO" value="4" autocomplete="off">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </label>
                                                <label class="btn btn-xs btn-default">
                                                    <input type="radio" name="INDICACAO" id="INDICACAO" value="3" autocomplete="off">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </label>
                                                <label class="btn btn-xs btn-warning">
                                                    <input type="radio" name="INDICACAO" id="INDICACAO" value="2" autocomplete="off">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </label>
                                                <label class="btn btn-xs btn-danger">
                                                    <input type="radio" name="INDICACAO" id="INDICACAO" value="1" autocomplete="off">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="SATISFACAO_SERVICO">Satisfação pelo Serviço:</label>
                                        <div class="col-md-10">
                                            <div class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-xs btn-success btn-gradient">
                                                    <input type="radio" name="SATISFACAO_SERVICO" id="SATISFACAO_SERVICO" value="5" autocomplete="off">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </label>
                                                <label class="btn btn-xs btn-primary">
                                                    <input type="radio" name="SATISFACAO_SERVICO" id="SATISFACAO_SERVICO" value="4" autocomplete="off">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </label>
                                                <label class="btn btn-xs btn-default">
                                                    <input type="radio" name="SATISFACAO_SERVICO" id="SATISFACAO_SERVICO" value="3" autocomplete="off">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </label>
                                                <label class="btn btn-xs btn-warning">
                                                    <input type="radio" name="SATISFACAO_SERVICO" id="SATISFACAO_SERVICO" value="2" autocomplete="off">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </label>
                                                <label class="btn btn-xs btn-danger">
                                                    <input type="radio" name="SATISFACAO_SERVICO" id="SATISFACAO_SERVICO" value="1" autocomplete="off">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label" for="NM_ASSUNTO">Título da sua avaliação:</label>
                                        <div class="col-md-10">
                                            <input class="form-control" name="NM_ASSUNTO" id="NM_ASSUNTO" placeholder="Título do seu comentário">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label" for="DS_DESCRICAO">Descrição:</label>
                                        <div class="col-md-10">
                                            <textarea class="form-control" name="DS_DESCRICAO" id="DS_DESCRICAO" rows="3" placeholder="Um breve texto para expor sua opinião..."></textarea>
                                        </div>
                                    </div>
                                    <input type="text" id="CD_PES_JURIDICA" class="hidden" name="CD_PES_JURIDICA" value="@item.CD_PESSOA">
                                    <input type="text" id="CD_PES_USUARIO" class="hidden" name="CD_PES_USUARIO" value="@User.Identity.GetUserId()">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Avaliar" class="btn btn-default" />
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="myModalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Faça Login para Avaliar</h4>
                        </div>
                        <div class="modal-body">
                            @{
                                var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
                                if (loginProviders.Count() == 0)
                                {
                                    <div>
                                        <p>
                                            There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                                            for details on setting up this ASP.NET application to support logging in via external services.
                                        </p>
                                    </div>
                                }
                                else {
                                    using (Html.BeginForm("ExternalLogin", "Account"))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div id="socialLoginList">
                                            <p>
                                                @foreach (AuthenticationDescription p in loginProviders)
                                                {
                                                    <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                                                }
                                            </p>
                                        </div>
                                    }
                                }
                            }
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
                                    }
                                }

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-92330679-1', 'auto');
        ga('send', 'pageview');

    </script>
</body>
</html>