@model DIVULGA_SERVICOS.Models.CAD_PES_FORNECEDOR

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CAD_PES_FORNECEDOR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CAD_PESSOA.NM_NOME_PESSOA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAD_PESSOA.NM_NOME_PESSOA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CD_CNPJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CD_CNPJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ATIVO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ATIVO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CD_STATUS_PAGT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CD_STATUS_PAGT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACEITE_CONTRATO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACEITE_CONTRATO)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
