@model IEnumerable<DIVULGA_SERVICOS.Models.CAD_AVALIACAO>

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CAD_PES_USUARIO.CD_PESSOA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NT_MEDIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRECO_QUALIDADE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PONTUALIDADE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ORGANIZACAO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INDICACAO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SATISFACAO_ATENDIMENTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SATISFACAO_SERVICO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DS_DESCRICAO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CAD_PES_USUARIO.CD_PESSOA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NT_MEDIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRECO_QUALIDADE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PONTUALIDADE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ORGANIZACAO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INDICACAO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SATISFACAO_ATENDIMENTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SATISFACAO_SERVICO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DS_DESCRICAO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
