<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/Formata-Tabelas.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .navbar-inverse .navbar-nav > li > a {
            color: rgb(0, 0, 0);
        }
        .navbar-inverse .navbar-nav > li > a:focus
        {
            color: rgb(51, 122, 183);
            background-color: rgba(0, 0, 0, 0);
        }
        .navbar-inverse .navbar-nav > li > a:hover
        {
            color: rgb(51, 122, 183);
        }
        div#load_screen
        {
            background: #000;
            opacity: 1;
            position: fixed;
            z-index: 2000;
            top: 0px;
            width: 100%;
            height: 100%;
        }
        div#load_screen > div#loading
        {
            height: 100%;
            min-height: 100%;
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            justify-content: center;
        }
    </style>
    <script>
window.addEventListener("load", function(){
	var load_screen = document.getElementById("load_screen");
	document.body.removeChild(load_screen);
});
    </script>
</head>
<body>

    <div id="load_screen">
        <div id="loading">
            <img src="~/Content/Imagens/Preloader_3.gif" />
        </div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); position: inherit;">
        <div class="container" style="margin-top: 9px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="background-color: cornflowerblue; border: none;">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll SemClick" href="~/Home"><img src="~/Content/Imagens/Logo.png" style="width: 40px; margin-top: -13px; margin-left:10px" /></a>
            </div>
            <div class="navbar-collapse collapse" style="border: none;">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("PESQUISAR SERVIÇOS", "Index", "Busca")</li>
                    <li>@Html.ActionLink("SOBRE", "Sobre", "Home")</li>
                    <li>@Html.ActionLink("CONTATOS", "Contatos", "Home")</li>
                    @*<li>@Html.ActionLink("Agradecimentos", "About", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @*@Scripts.Render("~/bundles/jquery")*@
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery.mask.min.js"></script>
    <script src="~/Scripts/MyJquery.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>
                Mercado de Intermediação de Serviços LTDA -
                <a href="/Home/Sobre">Sobre Nós</a>
                 | 
                <a href="/Home/Contatos">Nossos Contatos</a>
                 | 
                <a href="/home/termosdeuso">Termos de Uso</a>
                 | 
                <a href="/Home/Privacidade">Privacidade</a>
            </p>
            @{
                var userAgent = HttpContext.Current.Request.UserAgent.ToLower();
            }
            @if (userAgent.Contains("Iphone") || userAgent.Contains("iphone") || userAgent.Contains("ipad") || userAgent.Contains("Ipad"))
            {
                <div class="view-switcher ui-bar-a">
                    <div class="btn-group btn-group-justified" style="position:fixed; width:100%; bottom: 5px;" role="group">
                        <a class="btn btn-default" onclick="history.go(-1); return false;" style="border-radius: 20px;" role="button" href="#">Back</a>
                        <a class="btn btn-default" data-toggle="collapse" data-target=".navbar-collapse" style="border-radius: 20px;" role="button" href="#">Menu</a>
                        <a class="btn btn-default" onclick="history.go(+1); return false;" style="border-radius: 20px;" role="button" href="#">Forth</a>
                    </div>
                </div>
            }
            @*@if (Request.Browser.IsMobileDevice && Request.HttpMethod == "GET")
            {
                <div class="view-switcher ui-bar-a">
                    @if (ViewContext.HttpContext.GetOverriddenBrowser().IsMobileDevice)
                    {
                        if(Request.UrlReferrer != null)
                        {
                            <div class="btn-group btn-group-justified" style="position:fixed; width:86%; bottom: 5px;" role="group">
                                <a class="btn btn-default" onclick="history.go(-1); return false;" style="border-radius: 20px;" role="button" href="#">Back</a>
                                <a class="btn btn-default" data-toggle="collapse" data-target=".navbar-collapse" style="border-radius: 20px;" role="button" href="#">Menu</a>
                                <a class="btn btn-default" onclick="history.go(-1); return false;" style="border-radius: 20px;" role="button" href="#">Next</a>
                            </div>
                        }
                    }
                </div>
            }*@
        </footer>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsoPStma0ryAMpeobPA--6SyQhaHfWm_c&signed_in=true&libraries=places&callback=initAutocomplete"
            async defer></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-92330679-1', 'auto');
        ga('send', 'pageview');

    </script>

    <script>
        $('a').click(function () {
            if ($(this).hasClass("SemClick") != true)
            {
                $(this).text('Carregando...'); // do your UI thing here
                e.preventDefault();
                var destination = this.href;
                setTimeout(function () {
                    window.location = destination;
                }, 1000);
                $('<iframe>').hide().appendTo('body').load(function () {
                    window.location = destination;
                }).attr('src', destination);
            }
        });
    </script>
</body>
</html>

@*@using Microsoft.AspNet.Identity
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>*@
@*<body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li>
                            @using (Html.BeginForm("Pesquisa", "CAD_PES_JURIDICA", new { @class = "form-horizontal", role = "form" }, FormMethod.Post, null))
                            {
                                <div class="form-group">
                                    <input id="Pesquisa" name="Pesquisa" type="text">
                                </div>
                                <input id="ClickPesquisa" type="submit" class="btn btn-default" value="Pesquisar Serviço">
                            }
                        </li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>

    </body>
    </html>
*@
@*<body>

        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a><br />
            Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })<br />

            @if (Request.IsAuthenticated)
            {

                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ActionLink("Olá " + User.Identity.Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })<br /><br />
                    @Html.ActionLink("Pesquisar Serviços", "Index", "Busca")<br />
                    @Html.ActionLink("Sobre", "About", "Home")<br />
                    @Html.ActionLink("Contatos", "Contact", "Home")<br />
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a><br />
                }
            }
            else
            {
                @Html.ActionLink("Pesquisar Serviços", "Index", "Busca")<br />
                @Html.ActionLink("Sobre", "About", "Home")<br />
                @Html.ActionLink("Contatos", "Contact", "Home")<br />
                @Html.ActionLink("Criar Conta", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })<br />
                @Html.ActionLink("Entrar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })<br />
            }
        </div>


        <form class="form-inline" action="~/CAD_PES_JURIDICA/Pesquisa" method="post">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><span class="opennav" onclick="openNav()">&#9776;</span></div>
                    <input type="text" class="form-control" id="exampleInputAmount" placeholder="Costureira, Chaveiro, Eletricista">
                </div>
            </div>
            <input type="submit" class="btn btn-default" value="Buscar">
        </form>

        @RenderBody()
        <div class="container body-content">

            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAj3JcRIELfHhMvmfLqmSdezusDvIA9Sao&signed_in=true&libraries=places&callback=initAutocomplete"
                async defer></script>
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
