@model DIVULGA_SERVICOS.Models.BASE_DE_DADOS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BASE_DE_DADOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NM_NOME_CATEGORIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NM_NOME_CATEGORIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NM_NOME_SUBCATEGORIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NM_NOME_SUBCATEGORIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NM_NOME_ATIVIDADE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NM_NOME_ATIVIDADE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CD_BASE_DE_DADOS }) |
    @Html.ActionLink("Back to List", "Index")
</p>
