@model IEnumerable<DIVULGA_SERVICOS.Models.BASE_DE_DADOS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NM_NOME_CATEGORIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NM_NOME_SUBCATEGORIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NM_NOME_ATIVIDADE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NM_NOME_CATEGORIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NM_NOME_SUBCATEGORIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NM_NOME_ATIVIDADE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CD_BASE_DE_DADOS }) |
            @Html.ActionLink("Details", "Details", new { id=item.CD_BASE_DE_DADOS }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CD_BASE_DE_DADOS })
        </td>
    </tr>
}

</table>
