@model DIVULGA_SERVICOS.Models.CAD_PES_FONE


@{
    ViewBag.Title = "Detalhes do Telefone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes do Telefone</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            Celular
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CD_CELULAR)
        </dd>

        <dt>
            Operadora
        </dt>

        <dd>
            @if(@Html.DisplayFor(model => model.NM_OPERADORA).ToString() != "Outros")
            {
                @Html.DisplayFor(model => model.NM_OPERADORA)
            }
            else
            {
                var outros = "";
                @outros
            }
        </dd>

        <dt>
            WhatsApp
        </dt>

        <dd>
            @if(@Html.ValueFor(model => model.WHATSAPP).ToString() == "True")
            {
                var sim = "Sim";
                @sim
            }
            else
            {
                var nao = "Não";
                @nao
            }
        </dd>

        <dt>
            Fixo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CD_FIXO)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Deletar Telefone", "DeletarTelefone", new {id = Model.SQ_FONE }) |
    @Html.ActionLink("Voltar a lista de telefones", "Telefones")
</p>
