@model DIVULGA_SERVICOS.Models.CAD_PESSOA
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-2571448761678693",
          enable_page_level_ads: true
        });
        </script>
    <meta name="viewport" content="width=device-width" />
    <title>Editar Perfil</title>
</head>
<body>
    <form action="/Manage/EditPerfilJuridico" method="post">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>Editar Perfil</h4>
            <hr>

            <div class="form-group">
                <label class="control-label col-md-2" for="NM_NOME_PESSOA">Nome*</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" data-val="true" data-val-length="O campo nome deve ser uma cadeia de caracteres com um comprimento máximo de 255." data-val-length-max="255" id="CAD_PES_JURIDICA.NM_NOME_PESSOA" name="CAD_PES_JURIDICA.NM_NOME_PESSOA" type="text" value="@Model.NM_NOME_PESSOA">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="CAD_PES_JURIDICA.NM_NOME_PRESTADOR">Nome da Empresa*</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" data-val="true" data-val-length="O campo nome da empresa deve ser uma cadeia de caracteres com um comprimento máximo de 255." data-val-length-max="255" id="CAD_PES_JURIDICA.NM_NOME_PRESTADOR" name="CAD_PES_JURIDICA.NM_NOME_PRESTADOR" type="text" value="@Model.CAD_PES_JURIDICA.NM_NOME_PRESTADOR">
                    <span class="text-danger">Caso não tenha empresa, insira um nome que se identifique com seus serviços.</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="UserName">Email*</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="CAD_PES_JURIDICA.Email" name="CAD_PES_JURIDICA.Email" type="text" value="@Model.Email">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="CD_CNPJ">CPF ou CNPJ*</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" data-val="true" data-val-length="O campo CD_CNPJ deve ser uma cadeia de caracteres com um comprimento máximo de 30." data-val-length-max="30" id="CAD_PES_JURIDICA.CD_CNPJ" name="CAD_PES_JURIDICA.CD_CNPJ" type="text" value="@Model.CAD_PES_JURIDICA.CD_CNPJ">
                </div>
            </div>

            <hr />
            <h3>Descreva o que você faz em poucas palavras</h3>
            <h4>Este texto vai ficar visível para os usuários</h4>
            <div class="form-group">
                <label class="control-label col-md-2" for="CAD_PES_JURIDICA.DS_O_QUE_FAZEMOS">Resumo</label>
                <div class="col-md-10">
                    <textarea required="required" placeholder="Resuma o que você ou sua empresa faz." class="form-control text-box single-line" data-val="true" data-val-length="O campo resumo deve ser uma cadeia de caracteres com um comprimento máximo de 200." data-val-length-max="200" data-val-required="O campo resumo é obrigatório." id="CAD_PES_JURIDICA.DS_O_QUE_FAZEMOS" name="CAD_PES_JURIDICA.DS_O_QUE_FAZEMOS" type="text" value="" rows="5">@Model.CAD_PES_JURIDICA.DS_O_QUE_FAZEMOS</textarea>
                    <span class="field-validation-valid text-danger" data-valmsg-for="CAD_PES_JURIDICA.DS_O_QUE_FAZEMOS" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="DS_SOBRE">Sobre</label>
                <div class="col-md-10">
                    <textarea class="form-control text-box multi-line" id="CAD_PES_JURIDICA.DS_SOBRE" name="CAD_PES_JURIDICA.DS_SOBRE">@Model.CAD_PES_JURIDICA.DS_SOBRE</textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="DS_QUEM_SOMOS">Quem Somos</label>
                <div class="col-md-10">
                    <textarea class="form-control text-box multi-line" id="CAD_PES_JURIDICA.DS_QUEM_SOMOS" name="CAD_PES_JURIDICA.DS_QUEM_SOMOS">@Model.CAD_PES_JURIDICA.DS_QUEM_SOMOS</textarea>
                </div>
            </div>

            <div class="form-group">
                @if (Model.NEWSLETTER == true)
                {
                    <label class="control-label col-md-2" for="NEWSLETTER">
                        Desativar recebimento de Emails
                    </label>
                    <div class="col-md-10">
                        <input class="check-box" data-val="true" data-val-required="O campo newsletter é obrigatório." id="CAD_PES_JURIDICA_NEWSLETTER" name="CAD_PES_JURIDICA.NEWSLETTER" type="checkbox" value="true">
                        <input name="CAD_PES_JURIDICA.NEWSLETTER" type="hidden" value="false">
                    </div>
                }
                else
                {
                    <label class="control-label col-md-2" for="NEWSLETTER">
                        Ativar recebimento de Emails
                    </label>
                    <div class="col-md-10">
                        <input class="check-box" data-val="true" data-val-required="O campo newsletter é obrigatório." id="CAD_PES_JURIDICA_NEWSLETTER" name="CAD_PES_JURIDICA.NEWSLETTER" type="checkbox" value="true">
                        <input name="CAD_PES_JURIDICA.NEWSLETTER" type="hidden" value="false">
                    </div>
                }

            </div>

            <div class="form-group">
                @if (Model.CAD_PES_JURIDICA.DIVULGACAO == true)
                {
                    <label class="control-label col-md-2" for="DIVULGACAO">
                        Desativar nossas divulgações nas redes sociais
                    </label>
                    <div class="col-md-10">
                        <input class="check-box" data-val="true" data-val-required="O campo divulgação é obrigatório." id="CAD_PES_JURIDICA.DIVULGACAO" name="CAD_PES_JURIDICA.DIVULGACAO" type="checkbox" value="true">
                        <input name="CAD_PES_JURIDICA.DIVULGACAO" type="hidden" value="false">
                    </div>
                }
                else
                {
                    <label class="control-label col-md-2" for="DIVULGACAO">
                        Ativar nossas divulgações nas redes sociais
                    </label>
                    <div class="col-md-10">
                        <input class="check-box" data-val="true" data-val-required="O campo divulgação é obrigatório." id="CAD_PES_JURIDICA.DIVULGACAO" name="CAD_PES_JURIDICA.DIVULGACAO" type="checkbox" value="true">
                        <input name="CAD_PES_JURIDICA.DIVULGACAO" type="hidden" value="false">
                    </div>
                }
            </div>

            <div class="form-group">
                @if (Model.CAD_PES_JURIDICA.ATIVO == true)
                {
                    <label class="control-label col-md-2" for="CAD_PES_JURIDICA.ATIVO">
                        Desativar sua conta
                    </label>
                    <div class="col-md-10">
                        <input class="check-box" data-val="true" id="CAD_PES_JURIDICA_ATIVO" name="CAD_PES_JURIDICA.ATIVO" type="checkbox" value="true">
                        <input name="CAD_PES_JURIDICA.ATIVO" type="hidden" value="false">
                    </div>
                }
                else
                {
                    <label class="control-label col-md-2" for="CAD_PES_JURIDICA.ATIVO">
                        Ativar sua conta
                    </label>
                    <div class="col-md-10">
                        <input class="check-box" data-val="true" id="CAD_PES_JURIDICA_ATIVO" name="CAD_PES_JURIDICA.ATIVO" type="checkbox" value="true">
                        <input name="CAD_PES_JURIDICA.ATIVO" type="hidden" value="false">
                    </div>
                }
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" id="salvarPerfil" value="Salvar" class="btn btn-default">
                </div>
            </div>
        </div>
    </form>
    <div>
        @Html.ActionLink("Voltar a tela de gerenciamento", "Index")
    </div>

    <div class="modal fade" id='ModalErro' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="ModalErroBody">
            </div>
        </div>
    </div>
</body>
</html>