@model IEnumerable<DIVULGA_SERVICOS.Models.CAD_DICA>

@{
    ViewBag.Title = "Gerenciamento de Dicas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gerenciamento de Dicas</h2>

<p>
    @Html.ActionLink("Cadastrar Nova", "CriarDicas")
</p>

<p>
    @Html.ActionLink("Voltar a tela de gerenciamento!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
</p>
    <table class="table">
        <tr>
            <th>
                Nome da Dica
            </th>
            <th>
                Descrição
            </th>
            <th>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CAD_PES_JURIDICA.CAD_PESSOA.NM_NOME_PESSOA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NM__NOME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DS_DESCRICAO)
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditarDicas", new { id=item.SQ_DICA}) |
                    @Html.ActionLink("Detalhes", "DetalhesDicas", new { id=item.SQ_DICA }) |
                    @Html.ActionLink("Deletar", "DeletarDicas", new { id=item.SQ_DICA })
                </td>
            </tr>
        }

    </table>
