@model IEnumerable<DIVULGA_SERVICOS.Models.CAD_CATEGORIA>

@{
    ViewBag.Title = "Gerenciamento de Servicos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-2571448761678693",
          enable_page_level_ads: true
        });
    </script>
</head>

<h2>Gerenciamento de Servicos</h2>


<div class="alert alert-danger">
    <strong>Atenção!</strong> Nós alteramos algumas das palavras que você cadastra. Aconselhamos não altarer, pois fazemos isso para facilitar a busca por palavras chave.
</div>

<p>
    @Html.ActionLink("Cadastrar Novo", "CriarServico")
</p>

<div id="no-more-tables">
    <table class="col-md-12 table-bordered table-striped table-condensed cf">
        <thead class="cf">
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Descrição
                </th>
                <th></th>
            </tr>
            </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td data-title="Nome">
                        @Html.DisplayFor(modelItem => item.NM_NOME)
                    </td>
                    <td data-title="Descrição">
                        @Html.DisplayFor(modelItem => item.DS_DESCRICAO)
                    </td>
                    <td data-title="Configuração">
                        @Html.ActionLink("Editar", "EditarServico", new { id = item.SQ_CATEGORIA }) |
                        @Html.ActionLink("Detalhes", "DetalhesServico", new { id = item.SQ_CATEGORIA }) |
                        @Html.ActionLink("Deletar", "DeletarServico", new { id = item.SQ_CATEGORIA })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
    <br />
    @Html.ActionLink("Voltar a tela de gerenciamento", "Index")
